<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>PowerApp Main</title>

    <!-- Bootstrap core CSS -->
    <link href="../Templates/css2/bootstrap2.css" rel="stylesheet">
    <!--external css2-->
    <link href="../Templates/font-awesome/css/font-awesome2.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../Templates/css2/zabuto_calendar2.css">
    <link rel="stylesheet" type="text/css" href="../Templates/js2/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="../Templates/lineicons/style2.css">

    <!-- Custom styles for this template -->
    <link href="../Templates/css2/style2.css" rel="stylesheet">
    <link href="../Templates/css2/style-responsive2.css" rel="stylesheet">

    <script src="../Templates/js2/chart-master/Chart.js"></script>

    <!-- HTML5 shim and Respond.js2 IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">

        </div>
        <!--logo start-->
        <a href="" class="logo"><img src="../Templates/img/logo.png" style="width: 93px;height: 40px;margin-left: 40px;"></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="javascript:window.close();">Volver a ejercicios</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->